doctype html
html
	head
		title Smileish
		link(rel='stylesheet', href='/stylesheets/style.css')

		link(rel='stylesheet', href='http://assets.ziggeo.com/css/ziggeo-betajs-player.min.css')
		script(src='http://assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js')


		script(src='//code.jquery.com/jquery-1.11.2.min.js')
		// Latest compiled and minified CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		// Optional theme
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
		// Latest compiled and minified JavaScript
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		link(href='stylesheets/page.css', rel='stylesheet')

		script.
			ZiggeoApi.token = "cadb6da3bc21c58a7cbe699685daf03d";

		style.
			video {

				background: rgba(255,255,255,0.5);
				border: 1px solid #ccc;
			}
			.grayscale {
				+filter: grayscale(1);
			}
			.sepia {
				+filter: sepia(1);
			}
			.blur {
				+filter: blur(3px);
			}

			html {
			position: relative;
			min-height: 100%;
			}
			div {
			color: white;
			}
			body {
			font: 10px sans-serif;
			shape-rendering: crispEdges;
			margin-bottom: 60px;
			background-color:#19B5FE;
			}
		script.

				//- window.addEventListener('DOMContentLoaded', function() {
				//- 	var v = document.getElementById('v');
				//- 	navigator.getUserMedia = (navigator.getUserMedia || 
				//- 		navigator.webkitGetUserMedia || 
				//- 		navigator.mozGetUserMedia || 
				//- 		navigator.msGetUserMedia);
				//- 	if (navigator.getUserMedia) {
				//- 		// Request access to video only
				//- 	}
				//- 	else {
				//- 	alert('Sorry, the browser you are using doesn\'t support getUserMedia');
				//- 	return;
				//- 	}
				//- });

				//- var videoSource = '';

				//- function startUserMedia(){
				//- 		navigator.getUserMedia(
				//- 			{
				//- 				video:true,
				//- 				audio:false
				//- 			},        
				//- 			function(stream) {
				//- 				var url = window.URL || window.webkitURL;
				//- 				v.src = url ? url.createObjectURL(stream) : stream;
				//- 				videoSource = v.src;
				//- 				document.getElementById("videoURL").innerHTML = "<p>" + videoSource + "</p>";

				//- 				v.play();
				//- 			},
				//- 			function(error) {
				//- 				alert('Something went wrong. (error code ' + error.code + ')');
				//- 				return;
				//- 			}
				//- 		);
				//- }

				//- function snapshotGrab(){
				//-   var video = document.querySelector('#v');
				//-   var canvas = document.querySelector('canvas');
				//-   var ctx = canvas.getContext('2d');
				//-   var localMediaStream = null;
				//-   var canvasVal = '';
				//-   function snapshot() {
				//-     if (videoSource) {
				//-       ctx.drawImage(video, 0, 0, 640, 900, 0, 0, 300, 300);
				//-       // "image/webp" works in Chrome.
				//-       // Other browsers will fall back to image/png.
				//-       //console.log(canvas.toDataURL('image/webp'))
				//-       var dataURL = canvas.toDataURL();


				//-       canvasVal = canvas.toDataURL('image/png');
				//-       document.querySelector('img').src = canvas.toDataURL();
				//-     }
				//-   }
				//-   snapshot();
				//-   	if(canvasVal != ''){
				//-   		//- var mystring = "this/is/a/test"
				//- 		//- console.log(mystring.replace(/\//g , ":"));
				//-   		//- var removedStart = canvasVal.replace(/data:image\/png;base64,/, "");
				//-   		//- console.log(removedStart);

				//-   		//var convertedCanvas = removedStart.replace(/\//g, "COMPLEX");
				//-   		//var convertedCanvas2 = convertedCanvas.replace(/\+/g, "STATIC");

				//- 	 	//-  	$.get( "/api/base64/"+convertedCanvas2, function( data ) {
				//- 		//- 	  console.log(data);
				//- 		//- });
				//- 	}
				//- }



				// This code loads the IFrame Player API code asynchronously.
				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
				// This function creates an <iframe> (and YouTube player)
				// after the API code downloads.
				var player;

				var videos = [
					'X6b2ooaxyyc',
					'ln8gGDYUo-4',
					'S9Iq6LA7sZI',
					'nTDud03nzCg',
					'Skm154xJdek',
					'6P1vf_7DoLA'
				]
				var videoID = videos[Math.floor(Math.random()*videos.length)];//'ln8gGDYUo-4';
				function onYouTubeIframeAPIReady() {
					player = new YT.Player('player', {
						height: '780',
						width: '1280',
						videoId: videoID,
						events: {
							'onReady': initVideo,
							'onStateChange': onPlayerStateChange

							}
						}
					);
				}
				// The API will call this function when the video player is ready.
				function onPlayerReady(event) {
					//event.target.playVideo();
				}
				function playVideo(){
					player.playVideo();
					//- startUserMedia();
				}
				function pauseVideo(){
					player.pauseVideo();
				}
				// The API calls this function when the player's state changes.
				// The function indicates that when playing a video (state=1),
				// the player should play for six seconds and then stop.
				var done = false;

				function onPlayerStateChange(event) {
					if (event.data == 2 && !done) {
						window.location.href = "#container"
						stopRecording();
					}
				}

				function stopVideo() {
					player.stopVideo();
				}

				var videoDuration; 
				
				function initVideo(){
					videoDuration = player.getDuration();

					//document.getElementById("quickStats").innerHTML = "<p>" + videoDuration + " Seconds or " + Math.floor(videoDuration / 60) + " minutes</p>";
				}
				function startSnapperTurtle(){
					//setInterval(function(){ 
						snapshotGrab();
					    //code goes here that will be run every 5 seconds.    
					//}, 1000000);
				}

	body
		.container#container(style='width: 350px')
			.page-header
				h1(align='center')
					//- object(width='70px', height='70px', type='image/svg+xml', data='archive12.svg')
					//- |           
					p  Smileish
					#replace_me
			.col-md-6
				video#v(autoplay='', style="height:1px; width: 1px;")
			.col-md-6
				img(src='', style="height: 1px; width: 1px;")
				canvas(style='display:none;')

		.row
			.col-md-12
				#player
			.col-md-12
				.row#ziggeo_videos

				//-ziggeo(ziggeo-video='VIDEO_TOKEN_HERE')

				//-button(type='button', onclick="startSnapperTurtle()") Play Video!


		//-#quickStats



		script.
			$.get("/api/allVideos/"+videoID, function(data){
				console.log(data);

				data.forEach(function(entry) {
				    $('#ziggeo_videos').append("<div id='col-md-2'><ziggeo ziggeo-video="+entry+" ziggeo-paramx='200px' ziggeo-paramy='200px'></div>");
				});

			})
			var embedding = ZiggeoApi.Embed.embed("#replace_me", {paramx: "value-x", paramy: "value-y", width:"320px", height:"200px"});
			function startRecoding(){
				embedding.record(); 
			}
			function stopRecording(){
				embedding.stopRecord();
			}
			ZiggeoApi.Events.on("submitted", function (data) {
				console.log(ZiggeoApi.Videos.source());
			});
			ZiggeoApi.Events.on("ready_to_record", function (data) {
				$.get("/kickoffSmiles", function(data){
					console.log(data);
				})
				embedding.record();
				window.location.href="#player";
				setTimeout(function() { playVideo(); }, 3000);
				//startUserMedia();

				// Triggered when a video recorder is ready to record a video 
			});
			ZiggeoApi.Events.on("stop", function (data) {
				stopVideo();
				// Triggered when a playing video is stopped 
			});

			ZiggeoApi.Events.on("submitted", function (data) {
				// Triggered when a video has been recorded 
				//console.log("here is ze data: ");
				//console.log(data);
				//console.log(data.video.token);
				$.get( "/api/submitVideo/"+data.video.token+"/"+videoID, function( data ) {
				  //alert(data);
				});

				$.get("/api/getLatest", function(data){
					//{
					//- 	funnyVal: funnyValue,
					//- 	stringResponse: stringRes,
					//- 	smilesCount: countSmiles
					//- }
					console.log(data);

					if(data.funnyValue < 15){
						document.body.style.background = '#2c3e50';
					} else {
						document.body.style.background = '#27ae60';
					}

					alert("funny Value: " + data.funnyVal + " Number of times smiled: " + data.smilesCount);
				})
				//console.log(ZiggeoApi.Videos.get(data.video.token))
				//window.location.href = "http://localhost:3000/";
			});




